<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Location permissions for geolocator -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Internet for OpenStreetMap tiles -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SMS retriever for Firebase phone auth -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:label="MeroKotha"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Firebase SMS Retriever API Receiver -->
        <receiver
            android:name="com.google.firebase.auth.internal.InternalAuthProvider"
            android:exported="false" />

        <!-- Broadcast receiver for SMS retrieval -->
        <receiver
            android:name="com.google.android.gms.auth.api.phone.SmsRetrieverReceiver"
            android:exported="true"
            android:permission="android.permission.SEND_SMS">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

    </application>

    <!-- Required for flutter_map tile loading on Android 8.1+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

</manifest>